@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.container {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  border: 1px solid white;
  background-color: #0000007f;
}

#spinner {
  margin: calc(50% - 25px) auto;
  width: 50px;
  height: 50px;
  box-sizing: border-box;

  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top-color: white;
}
